body{
    background-color: rgb(193, 99, 233);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
   
}
h1{
    text-decoration: underline;
    text-decoration-color: rgb(129, 112, 36);
    font-size: 20px;
    font-style: oblique; 
}
p{
    font-size: 15px;
    font-family: sans-serif; 
    margin-left: 10px;
}
ul{
    background-color: #f9f9f9; 
    border-radius: 12px;       
    padding: 15px;            
    list-style-type: none;     
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
}